.root{
    -fx-background-color: rgb(0, 0, 0);
}


/*按钮样式*/
.button {
    -fx-background-color: darkturquoise;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: lightskyblue;
}

/*颜色选择器样式*/
.color-picker{
    -fx-background-color: darkturquoise;
    -fx-color-label-visible:true;
}

.color-picker .label{
    -fx-text-fill: white;
}


#themeLabel,#logoOpacityLabel,#dragLabel{
    -fx-text-fill: #ffffff;
    -fx-font-size: 14;
    /*-fx-font-weight: bold;*/
}

/*滑块样式*/
.slider{
    -fx-show-tick-labels: true;
}

.slider .track{
    -progress : 0.2;
    -fx-background-color: linear-gradient(to right, #00CED1, #00CED1 );

}

.slider .axis{
    -fx-tick-label-fill: #fff;
}

.check-box{
}

.check-box:determinate .box{
    -fx-background-color: #00CED1;
}

.check-box:selected .mark{
    -fx-background-color: #fff;
}
